[user]
	name = Phil Monroe
	email = phil@philmonroe.com

[alias]
  a = add --all
	b = branch
	s = status
	cm = commit -am
	c = checkout
	prom = pull --rebase origin master
	f = fetch --all --tags
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  deploy = push heroku master
  deploy-stg = push staging master
  deploy-prd = push production master

[push]
  default = current

[color]
	ui = true

[core]
	editor = mate -w
	quotepath = false

[heroku]
	account = rbsavvy

[instaweb]
  httpd = webrick
