*/
!.*
!.*/
*history*
.Trash
.ec2/
.lesshst
.pgpass
.pgadmin_histoqueries
.rnd
.credentials/
.DS_Store
.CFUserTextEncoding
.Xauthority
.zcompdump
.netrc
.rdebug_hist
PdaNetUninstall.sh

.chef/
.cups/
.dropbox/
.vagrant.d/
.subversion/
.ssh/
.fontconfig/
.rvm/
hosts-powder.bak
.viminfo
.rbenv/
.pow