[user]
	name = Phil Monroe
	email = phil@maven-labs.com

[alias]
  a = add --all
	b = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' --color=always --count 10
  ba = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' --color=always
	s = status
	cm = commit -am
	c = checkout
	prom = pull --rebase origin master
  pri = pull --rebase=interactive
	f = fetch --all --tags
  lg = log --all --graph --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lgm = log --graph --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative origin/master..HEAD
  lgpr = log --graph --oneline --pretty=format:'%s' --abbrev-commit --date=relative origin/master..HEAD
  lgs = log --all --graph --oneline --simplify-by-decoration --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  loma = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative origin/master..HEAD
  deploy = push heroku master
  deploy-stg = push staging master
  deploy-prd = push production master
  prune = fetch --prune
  undo = reset --soft HEAD^
  stash-all = stash save --include-untracked


[push]
  default = current
  followTags = true

[pull]
  rebase = true
  ff = only

[color]
	ui = true

[core]
	editor = open -a atom && atom -w
	quotepath = false

[heroku]
	account = rbsavvy

[instaweb]
  httpd = webrick
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[merge]
  ff = only
  conflictstyle = diff3
[init]
	defaultBranch = main
